.introduction {
  display: flex;
  background-image: url("/assents/dog-e-cat-bg-removebg-preview.png");
  background-position:bottom -10px center;
  background-repeat: no-repeat;
  background-size: 950px;
  padding: $padding-top-bottom;

  &-content {
    display: flex;
    flex-direction: column;
    width: $div-flex-size;
    
    span {
      @include subTitle;
    }

    h1 {
      font-size: 80px;
      line-height: 1;
      font-weight: 500;
    }

    .description {
      margin: 40px 0;
      width: 100%;
      
      p {
        @include text-default;
        margin: 0;
        width: 85%;
      }
    }

    .extra-info-box {
      width: 50%;
      margin-top: 20px;

      .extra-information {
        @include comumText;
        @include alignFlex(flex, start, center);
        margin: 0px;
        
        &::before {
          color: #047ac9;
          content: "\f058";
          font-family: 'FontAwesome';
          font-weight: 900;
          font-size: 70px;
          padding-right: 14px;
        }
      }
    }
  }

  &--form-booking {
    width: $div-flex-size;
    display: flex;
    justify-content: flex-end;
  }
}