.services {
  @include alignFlex(flex, unset, unset);
  padding: $padding-top-bottom;

  &-dimension {
    width: $div-flex-size;

    span {
      @include subTitle;
    }

    h2 {
      font-size: 45px;
      line-height: 1;
      margin: 40px 0 30px 0;
    }

    p {
      @include text-default;
    }
  }

  &--positive-points {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    
    .extra-info-box {
      width: 50%;
      padding-right: 10px;

      .extra-information {
        @include alignFlex(flex, center, center);
        @include comumText;

        &::before {
          color: #047ac9;
          content: "\f058";
          font-family: 'FontAwesome';
          font-weight: 900;
          font-size: 70px;
          padding-right: 14px;
        }
      }    
    }    
  }
}



.service-list {
    text-align: center;
    padding: 80px 0;
    .description-elements {
        padding: 0 270px;
        span {
            @include subTitle;
        }
    
        
        .description {
            @include comumText;
        }
    } 
}

.service-list-items {
    display: flex;
    list-style: none;
    
    .list-services-description {
        background-color: #ffffff;
        background-image: url("/assents/union-svg-pic.svg");
        background-repeat: no-repeat;
        background-position: right;
        background-size: 250px;
        margin: 0 20px;
        text-align: start;
        padding: 40px;
        width: 33.3%;
        border: 1px solid #ffffff;
        border-radius: 10px;

        &:hover {
            border: none;
            box-shadow: 0 0 25px $main-color;
            transition: $transition-mood;
        }

        h3 {
            font-size: 40px;
            font-weight: 500;
            line-height: 1;
        }
        span {
            @include subTitle;
        }

        .service-description {
            margin: 30px 0;
            li {
                margin: 10px 0;
                
            }
        }
    
    }
}