/*variables-settup*/
$set-page: 0 150px;
$div-flex-size: 50%; 
$padding-top-bottom: 70px 0;

/*color variables*/
$main-font-color: #ffb8b7;
$comum-text-color: #353535;
$main-color: #ea7471;
$base-white-color: #ffffff;
$check-color: #047ac9;
$cyan-input-color: #cef1ff;

/*transitions*/
$transition-mood: all 350ms ease;