<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head.ejs') %>

  <body>
    <%- include('partials/header.ejs') %>
    <main>
      <section class="contacts">
        <span>Contact information</span>
        <h2>Welcome to our website.</h2>
        <div class="contact-display">
          <div> 
            <h4>Email us</h4>
            <p>Email us for general queries, including marketing and partnership opportunities</p>
          </div>
          <div>
            <h4>Call for free</h4>
            <p>Call us to speak to a member of our team</p>
          </div>
          <div>
            <h4>Head Office</h4>
          </div>
        </div>
      </section>
    </main>
    <%- include('partials/footer.ejs') %>
    <%- include('partials/foot.ejs') %>
  </body>
</html>