<!DOCTYPE html>
<html lang="en">
        <%- include('partials/head.ejs') %>
    <body>
        <%- include('partials/header.ejs')%>

        <main class="container">
            <div class="gallery-content">
                <span>See the results!</span>
                <h2>Enjoy the best grooming styles and care for your dog</h2>
                <p>Your pet style house</p>
            </div>
            <div class="gallery-photos">
                <div class="width-photo">
                    <img src="/assents/gallery-one.png" alt="">
                </div>
                <div class="width-photo">
                    <img src="/assents/gallery-two.png" alt="">
                </div>
                <div class="width-photo">
                    <img src="/assents/gallery-three.png" alt="">
                </div>
                <div class="width-photo">
                    <img src="/assents/gallery-four.png" alt="">
                </div>
                <div class="width-photo">
                    <img src="/assents/gallery-five.png" alt="">
                </div>
                <div class="width-photo">
                    <img src="/assents/gallery-six.png" alt="">
                </div>
                <div class="width-photo">
                    <img src="/assents/gallery-seven.png" alt="">
                </div>
                <div class="width-photo">
                    <img src="/assents/gallery-eight.png" alt="">
                </div>
                <div class="width-photo">
                    <img src="/assents/gallery-nine.png" alt="">
                </div>
            </div>
        </main>

        <%- include('partials/footer.ejs')%>    
    </body>
</html>