<!DOCTYPE html>
<html lang="pt-br">

    <%- include('partials/head.ejs') %>

    <body>
        <%- include('partials/header.ejs') %>
        <main class="container">
            <section class="introduction-section">
                <div class="introducing-content">
                    <span>Grooming salon</span>
                    <h1>Professional Pets Grooming</h1>
                    <div class="description">
                        For 25 years we have been committed to providing your beloved pet the caring and knowledgeable grooming.
                    </div>
                    <div class="extra-info-box"> 
                        <p class="extra-information">
                            Personalized service with free consultations
                        </p>
                    </div>
                    <div class="extra-info-box"> 
                        <p class="extra-information">
                            100% satisfaction guarantee
                        </p>
                    </div>
                </div>
                <div class="form-booking">   
                    <form action="">
                        <h2>Book appointment or check prices</h2>
                        <p>
                            Book a grooming to make your pet looks amazing. We care about your little friends.
                        </p>
                        <input type="text" placeholder="Breed">
                        <input type="text" placeholder="Age">
                        <input type="text" placeholder="Grooming service">
                        <input type="text" placeholder="Date">
                        <button type="submit" class="form-btn">Book Now</button>
                    </form>
                </div>
            </section>
        </main>

        <%- include('partials/foot.ejs') %>
    </body>
</html>