<!DOCTYPE html>
<html lang="pt-br">

    <%- include('partials/head.ejs') %>

    <body>
        <%- include('partials/header.ejs') %>

        <section class="about-container">
            <div>
                <img src="/assents/about-photo.jpg" alt="about-me picture">
            </div>
            <div>
                <span>Professional care for your pet</span>
                <h1>Enjoy the best grooming styles for your dog.</h1>
            </div>
        </section>
        
        <%- include('partials/footer.ejs') %>

        <%- include('partials/foot.ejs') %>
    </body>
</html>