/*-------- base setup importing --------*/
/*variables-settup*/
/*color variables*/
/*transitions*/
@import url(https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;800;900&display=swap);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  font-family: "Heebo", sans-serif;
  background-color: #ffb8b7;
}

main {
  max-width: 1280px;
  margin: 0 auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/*---------------align items setup---------------*/
/*---------------subtitle setup---------------*/
/*---------------comum text setup---------------*/
/*-------- page structure components --------*/
.header {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  padding: 10px 150px;
}
.header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .logo img {
  width: 100px;
}
.header .nav-bar {
  display: flex;
  align-items: center;
}
.header .nav-bar .menu {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}
.header .nav-bar .menu li {
  padding: 10px 15px;
}
.header .nav-bar .menu li a {
  text-decoration: none;
  color: #ea7471;
  font-size: 20px;
}
.header .nav-bar .menu li a:hover {
  color: #047ac9;
}
.header .nav-bar .opening-times {
  margin-left: 160px;
}
.header .nav-bar .opening-times h2 {
  color: orange;
  font-size: 30px;
  cursor: pointer;
}
.header .nav-bar .opening-times h2::before {
  content: "\f2a0";
  font-family: "FontAwesome";
  font-weight: 500;
  font-size: 30px;
  color: blue;
  padding-right: 10px;
}
.header .nav-bar .opening-times h2:hover {
  color: #353535;
  transition: 300ms all;
}
.header .nav-bar .opening-times span {
  color: #353535;
}

.wrapper {
  overflow: hidden;
  background-color: #ffffff;
  width: 500px;
  padding: 0 40px 40px;
  border-radius: 10px;
}
.wrapper .slide-controls {
  position: relative;
  display: flex;
  height: 50px;
  width: 100%;
  overflow: hidden;
  margin: 30px 0;
  justify-content: space-between;
  border: 1px solid lightgray;
  border-radius: 5px;
}
.wrapper .slide-controls .slide {
  height: 100%;
  width: 100%;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  line-height: 48px;
  cursor: pointer;
  z-index: 1;
  transition: all 0.6s ease;
}
.wrapper .slide-controls label.cat {
  color: #000;
}
.wrapper .slide-controls input[type=radio] {
  display: none;
}
.wrapper .slide-controls .slider-tab {
  position: absolute;
  height: 100%;
  width: 50%;
  left: 0;
  z-index: 0;
  border-radius: 5px;
  background: -webkit-linear-gradient(left, #047ac9, #149edb);
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper .slide-controls #cat:checked ~ .slider-tab {
  left: 50%;
}
.wrapper .slide-controls #cat:checked ~ label.cat {
  color: #ffffff;
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.wrapper .slide-controls #cat:checked ~ label.dog {
  color: #000;
}
.wrapper .slide-controls #dog:checked ~ label.cat {
  color: #000;
}

h2 {
  font-size: 30px;
  line-height: 1;
}

p {
  color: #353535;
  margin: 20px 0 40px 0;
}

.form-container {
  width: 100%;
  overflow: hidden;
}
.form-container .form-inner {
  display: flex;
  width: 200%;
}
.form-container .form-inner form {
  width: 50%;
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.form-container .form-inner form input {
  margin-bottom: 10px;
  padding-left: 13px;
  background-color: #cef1ff;
  width: 100%;
  height: 50px;
  outline: none;
  border: 2px solid transparent;
  border-radius: 7px;
  font-size: 20px;
}
.form-container .form-inner form input:focus {
  border-color: #ffb8b7;
  transition: all 400ms;
}

.form-btn {
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 7px;
  font-size: 20px;
  margin: 20px 0 35px 0;
  font-weight: bold;
  background-color: #ea7471;
  color: #ffffff;
  cursor: pointer;
}
.form-btn:hover {
  background-color: #047ac9;
  transition: all 350ms ease;
}

.footer {
  background-color: #fff;
  padding: 100px 150px;
  display: flex;
  justify-content: space-between;
}
.footer h3 {
  font-size: 25px;
}
.footer ul {
  list-style: none;
}
.footer ul li {
  margin: 10px 0;
}
.footer ul li a {
  color: #047ac9;
  text-decoration: none;
}
.footer ul li a:hover {
  color: #ea7471;
}
.footer .footer-content {
  padding-right: 60px;
}
.footer .footer-content .logo-footer img {
  width: 200px;
}
.footer .footer-content .location a {
  text-decoration: none;
  font-size: 17px;
  color: #353535;
}
.footer .footer-content .location a:active {
  color: #353535;
}
.footer .footer-content .location .opening-times {
  margin-top: 20px;
}
.footer .footer-content .location .opening-times h2 {
  color: orange;
  font-size: 30px;
  cursor: pointer;
}
.footer .footer-content .location .opening-times h2::before {
  content: "\f2a0";
  font-family: "FontAwesome";
  font-weight: 500;
  font-size: 30px;
  color: blue;
  padding-right: 10px;
}
.footer .footer-content .location .opening-times h2:hover {
  color: #353535;
  transition: all 350ms ease;
}
.footer .width-structure {
  width: 40%;
}
.footer .width-structure input {
  width: 100%;
  height: 40px;
  background-color: #cef1ff;
  font-size: 20px;
  padding-left: 10px;
  border-radius: 5px;
  border: none;
}

.book-now {
  padding: 15px 40px;
  border-radius: 10px;
  border: none;
  text-align: center;
  font-weight: bold;
  font-size: 17px;
  color: #ffffff;
  background-color: #047ac9;
  transition: all 350ms ease;
  cursor: pointer;
}
.book-now::before {
  color: #ffffff;
  content: "\f1b0";
  font-family: "FontAwesome";
  font-weight: 900;
  font-size: 20px;
  padding-right: 14px;
}
.book-now:hover {
  background-color: #ea7471;
}

/*-------- page importing --------*/
.introduction {
  display: flex;
  background-image: url("/assents/dog-e-cat-bg-removebg-preview.png");
  background-position: bottom -10px center;
  background-repeat: no-repeat;
  background-size: 950px;
  padding: 70px 0;
}
.introduction-content {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.introduction-content span {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 21px;
  color: #ea7471;
}
.introduction-content h1 {
  font-size: 80px;
  line-height: 1;
  font-weight: 500;
}
.introduction-content .description {
  margin: 40px 0;
  width: 100%;
}
.introduction-content .description p {
  color: #353535;
  font-size: 20px;
  margin: 0;
  width: 85%;
}
.introduction-content .extra-info-box {
  width: 50%;
  margin-top: 20px;
}
.introduction-content .extra-info-box .extra-information {
  color: #353535;
  font-weight: 500;
  font-size: 20px;
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 0px;
}
.introduction-content .extra-info-box .extra-information::before {
  color: #047ac9;
  content: "\f058";
  font-family: "FontAwesome";
  font-weight: 900;
  font-size: 70px;
  padding-right: 14px;
}
.introduction--form-booking {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.about {
  display: flex;
  padding: 70px 0;
}
.about-dimension {
  width: 50%;
}
.about-dimension img {
  border-radius: 10px;
}
.about-dimension.about-description span {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 21px;
  color: #ea7471;
}
.about-dimension.about-description h2 {
  font-size: 50px;
  line-height: 1;
  margin: 40px 0 30px 0;
}
.about-dimension.about-description p {
  color: #353535;
  font-weight: 500;
  font-size: 20px;
}
.about-dimension.about-description .book-form {
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.502);
  position: fixed;
  z-index: 1;
  top: 0;
  left: -100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 600ms ease;
}
.about-dimension.about-description .book-form .wrapper {
  box-shadow: 2px 2px 5px gray;
}
.about-dimension.about-description .book-form.visible {
  top: 0;
  left: 0;
}

.services {
  display: flex;
  justify-content: unset;
  align-items: unset;
  padding: 70px 0;
}
.services-dimension {
  width: 50%;
}
.services-dimension span {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 21px;
  color: #ea7471;
}
.services-dimension h2 {
  font-size: 45px;
  line-height: 1;
  margin: 40px 0 30px 0;
}
.services-dimension p {
  color: #353535;
  font-size: 20px;
}
.services--positive-points {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.services--positive-points .extra-info-box {
  width: 50%;
  padding-right: 10px;
}
.services--positive-points .extra-info-box .extra-information {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #353535;
  font-weight: 500;
  font-size: 20px;
}
.services--positive-points .extra-info-box .extra-information::before {
  color: #047ac9;
  content: "\f058";
  font-family: "FontAwesome";
  font-weight: 900;
  font-size: 70px;
  padding-right: 14px;
}

.service-list {
  text-align: center;
  padding: 80px 0;
}
.service-list .description-elements {
  padding: 0 270px;
}
.service-list .description-elements span {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 21px;
  color: #ea7471;
}
.service-list .description-elements .description {
  color: #353535;
  font-weight: 500;
  font-size: 20px;
}

.service-list-items {
  display: flex;
  list-style: none;
}
.service-list-items .list-services-description {
  background-color: #ffffff;
  background-image: url("/assents/union-svg-pic.svg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 250px;
  margin: 0 20px;
  text-align: start;
  padding: 40px;
  width: 33.3%;
  border: 1px solid #ffffff;
  border-radius: 10px;
  transition: 0.4s ease;
}
.service-list-items .list-services-description:hover {
  box-shadow: 0 0 25px #ea7471;
  transition: all 350ms ease;
}
.service-list-items .list-services-description h3 {
  font-size: 40px;
  font-weight: 500;
  line-height: 1;
}
.service-list-items .list-services-description span {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 21px;
  color: #ea7471;
}
.service-list-items .list-services-description .service-description {
  margin: 30px 0;
}
.service-list-items .list-services-description .service-description li {
  margin: 10px 0;
}

.contacts {
  padding: 70px 0;
}
.contacts span {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 21px;
  color: #ea7471;
}
.contacts .contact-display {
  display: flex;
  justify-content: space-between;
}

.gallery-content {
  text-align: center;
  padding-top: 100px;
}
.gallery-content span {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 21px;
  color: #ea7471;
}
.gallery-content h2 {
  font-size: 45px;
  line-height: 1;
  margin: 20px 0 30px 0;
}
.gallery-content p {
  color: #353535;
  font-weight: 500;
  font-size: 20px;
}

.gallery-photos {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0 80px 0;
}
.gallery-photos .width-photo {
  padding: 10px;
  width: 33%;
}
.gallery-photos .width-photo img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  cursor: pointer;
}
.gallery-photos .width-photo img:hover {
  box-shadow: 0 0 25px #ea7471;
}/*# sourceMappingURL=main.css.map */