@charset "UTF-8";
/*-------- base setup importing --------*/
@import url(https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;800;900&display=swap);
/*variables-settup*/
/*color variables*/
/*transitions*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Heebo", sans-serif;
}

/*---------------align items setup---------------*/
/*---------------subtitle setup---------------*/
/*---------------comum text setup---------------*/
/*-------- page structure importing --------*/
.header {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  padding: 10px 150px;
}
.header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .logo img {
  width: 100px;
}
.header .nav-bar {
  display: flex;
  align-items: center;
}
.header .nav-bar .menu {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}
.header .nav-bar .menu li {
  padding: 10px 15px;
}
.header .nav-bar .menu li a {
  text-decoration: none;
  color: #ea7471;
  font-size: 20px;
}
.header .nav-bar .menu li a:hover {
  color: #047ac9;
}
.header .nav-bar .opening-times {
  margin-left: 160px;
}
.header .nav-bar .opening-times h2 {
  color: orange;
  font-size: 30px;
  cursor: pointer;
}
.header .nav-bar .opening-times h2::before {
  content: "";
  font-family: "FontAwesome";
  font-weight: 500;
  font-size: 30px;
  color: blue;
  padding-right: 10px;
}
.header .nav-bar .opening-times h2:hover {
  color: #353535;
  transition: 300ms all;
}
.header .nav-bar .opening-times span {
  color: #353535;
}

.container {
  padding: 0 150px;
  background-color: #ffb8b7;
}

.wrapper {
  overflow: hidden;
  background-color: #ffffff;
  width: 70%;
  padding: 0 40px 40px;
  border-radius: 10px;
}
.wrapper .slide-controls {
  position: relative;
  display: flex;
  height: 50px;
  width: 100%;
  overflow: hidden;
  margin: 30px 0;
  justify-content: space-between;
  border: 1px solid lightgray;
  border-radius: 5px;
}
.wrapper .slide-controls .slide {
  height: 100%;
  width: 100%;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  line-height: 48px;
  cursor: pointer;
  z-index: 1;
  transition: all 0.6s ease;
}
.wrapper .slide-controls label.cat {
  color: #000;
}
.wrapper .slide-controls input[type=radio] {
  display: none;
}
.wrapper .slide-controls .slider-tab {
  position: absolute;
  height: 100%;
  width: 50%;
  left: 0;
  z-index: 0;
  border-radius: 5px;
  background: -webkit-linear-gradient(left, #047ac9, #149edb);
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper .slide-controls #cat:checked ~ .slider-tab {
  left: 50%;
}
.wrapper .slide-controls #cat:checked ~ label.cat {
  color: #ffffff;
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.wrapper .slide-controls #cat:checked ~ label.dog {
  color: #000;
}
.wrapper .slide-controls #dog:checked ~ label.cat {
  color: #000;
}

h2 {
  font-size: 30px;
  line-height: 1;
}

p {
  color: #353535;
  margin: 20px 0 40px 0;
}

.form-container {
  width: 100%;
  overflow: hidden;
}
.form-container .form-inner {
  display: flex;
  width: 200%;
}
.form-container .form-inner form {
  width: 50%;
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.form-container .form-inner form input {
  margin-bottom: 10px;
  padding-left: 13px;
  background-color: #cef1ff;
  width: 100%;
  height: 50px;
  outline: none;
  border: 2px solid transparent;
  border-radius: 7px;
  font-size: 20px;
}
.form-container .form-inner form input:focus {
  border-color: #ffb8b7;
  transition: all 400ms;
}

.form-btn {
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 7px;
  font-size: 20px;
  margin: 20px 0 35px 0;
  font-weight: bold;
  background-color: #ea7471;
  color: #ffffff;
  cursor: pointer;
}
.form-btn:hover {
  background-color: #047ac9;
  transition: all 350ms ease;
}

.footer {
  padding: 100px 150px;
  display: flex;
  justify-content: space-between;
}
.footer h3 {
  font-size: 25px;
}
.footer ul {
  list-style: none;
}
.footer ul li {
  margin: 10px 0;
}
.footer ul li a {
  color: #047ac9;
  text-decoration: none;
}
.footer ul li a:hover {
  color: #ea7471;
}
.footer .footer-content {
  padding-right: 80px;
}
.footer .footer-content .logo-footer img {
  width: 200px;
}
.footer .footer-content .location a {
  text-decoration: none;
  font-size: 17px;
  color: #353535;
}
.footer .footer-content .location a:active {
  color: #353535;
}
.footer .footer-content .location .opening-times {
  margin-top: 20px;
}
.footer .footer-content .location .opening-times h2 {
  color: orange;
  font-size: 30px;
  cursor: pointer;
}
.footer .footer-content .location .opening-times h2::before {
  content: "";
  font-family: "FontAwesome";
  font-weight: 500;
  font-size: 30px;
  color: blue;
  padding-right: 10px;
}
.footer .footer-content .location .opening-times h2:hover {
  color: #353535;
  transition: all 350ms ease;
}
.footer .width-structure {
  width: 40%;
}
.footer .width-structure input {
  width: 100%;
  height: 40px;
  background-color: #cef1ff;
  font-size: 20px;
  padding-left: 10px;
  border-radius: 5px;
  border: none;
}

/*-------- components importing --------*/
.book-now {
  padding: 15px 40px;
  border-radius: 10px;
  border: none;
  text-align: center;
  font-weight: bold;
  font-size: 17px;
  color: #ffffff;
  background-color: #047ac9;
  cursor: pointer;
}
.book-now::before {
  color: #ffffff;
  content: "";
  font-family: "FontAwesome";
  font-weight: 900;
  font-size: 20px;
  padding-right: 14px;
}
.book-now:hover {
  background-color: #ea7471;
  transition: all 350ms ease;
}

/*-------- home page importing --------*/
.introduction-section {
  background-image: url("/assents/dog-e-cat-bg-removebg-preview.png");
  background-position: bottom -10px center;
  background-repeat: no-repeat;
  background-size: 950px;
  display: flex;
}
.introduction-section .introducing-content {
  display: flex;
  flex-direction: column;
  padding: 70px 0;
}
.introduction-section .introducing-content.flex-dimension {
  width: 50%;
}
.introduction-section .introducing-content span {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 21px;
  color: #ea7471;
}
.introduction-section .introducing-content h1 {
  font-size: 80px;
  line-height: 1;
  font-weight: 500;
}
.introduction-section .introducing-content .description {
  color: #353535;
  font-size: 20px;
  margin: 40px 0;
  width: 85%;
}
.introduction-section .introducing-content .extra-info-box {
  width: 50%;
  margin-top: 20px;
}
.introduction-section .introducing-content .extra-info-box .extra-information {
  color: #353535;
  font-weight: 500;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
}
.introduction-section .introducing-content .extra-info-box .extra-information::before {
  color: #047ac9;
  content: "";
  font-family: "FontAwesome";
  font-weight: 900;
  font-size: 70px;
  padding-right: 14px;
}
.introduction-section .form-booking {
  padding: 70px 0;
  display: flex;
  justify-content: flex-end;
}
.introduction-section .form-booking.flex-dimension {
  width: 50%;
}

.section-content {
  background-color: #ffb8b7;
  display: flex;
  padding: 70px 0;
}
.section-content .flex-dimension {
  width: 50%;
}
.section-content .flex-dimension img {
  border-radius: 10px;
}
.section-content .flex-dimension.about-description span {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 21px;
  color: #ea7471;
}
.section-content .flex-dimension.about-description h1 {
  font-size: 50px;
  line-height: 1;
  margin: 40px 0 30px 0;
}
.section-content .flex-dimension.about-description .extra-information {
  color: #353535;
  font-weight: 500;
  font-size: 20px;
}
.section-content .flex-dimension.about-description .teste {
  width: 100%;
  height: 100%;
  background: #ffffff80;
  position: fixed;
  z-index: 1;
  top: 0;
  left: -100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 600ms ease;
}
.section-content .flex-dimension.about-description .teste .wrapper {
  width: 27%;
  box-shadow: 2px 2px 5px gray;
}
.section-content .flex-dimension.about-description .teste.visible {
  top: 0;
  left: 0;
}

.positive-points {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.positive-points .extra-info-box {
  width: 50%;
}
.positive-points .extra-info-box .extra-information {
  display: flex;
  justify-content: center;
  align-items: center;
}
.positive-points .extra-info-box .extra-information::before {
  color: #047ac9;
  content: "";
  font-family: "FontAwesome";
  font-weight: 900;
  font-size: 70px;
  padding-right: 14px;
}

.service-list {
  background-image: url("/assents/white-background.png");
}/*# sourceMappingURL=main.css.map */