/*defining fonts*/
@import url(https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;800;900&display=swap);
/*variables-settup*/
/*mixin-flexbox*/
/*-------------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Heebo', sans-serif;
}

body .header {
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 150px;
}

body .header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .header .logo img {
  width: 100px;
}

body .header .nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .header .nav-bar .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

body .header .nav-bar li {
  padding: 10px 15px;
}

body .header .nav-bar a {
  text-decoration: none;
  color: #ea7471;
  font-size: 18px;
}

body .container .introduction-section {
  background-image: url("/assents/dog-e-cat-bg-removebg-preview.png");
  background-position: bottom 0 center;
  background-repeat: no-repeat;
  background-size: 850px;
  padding: 0 150px;
  background-color: #ffb8b7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .container .introduction-section .introducing-content {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 70px 0;
}

body .container .introduction-section .introducing-content span {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #ea7471;
}

body .container .introduction-section .introducing-content h1 {
  font-size: 80px;
  line-height: 1;
  font-weight: 500;
}

body .container .introduction-section .introducing-content .description {
  color: #353535;
  font-size: 20px;
  margin: 40px 0;
  width: 85%;
}

body .container .introduction-section .introducing-content .extra-info-box {
  width: 50%;
  margin-top: 20px;
}

body .container .introduction-section .introducing-content .extra-info-box .extra-information {
  color: #353535;
  font-weight: 500;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .container .introduction-section .introducing-content .extra-info-box .extra-information::before {
  color: blue;
  content: "\f058";
  font-family: 'FontAwesome';
  font-weight: 900;
  font-size: 70px;
  padding-right: 14px;
}

body .container .introduction-section .form-booking {
  width: 50%;
  padding: 70px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

body .container .introduction-section .form-booking form {
  background-color: #ffffff;
  width: 70%;
  padding: 40px;
  border-radius: 10px;
}

body .container .introduction-section .form-booking form h2 {
  font-size: 30px;
  line-height: 1;
}

body .container .introduction-section .form-booking form p {
  color: #353535;
  margin: 20px 0 40px 0;
}

body .container .introduction-section .form-booking form input {
  margin-bottom: 10px;
  padding-left: 13px;
  background-color: #cef1ff;
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 7px;
  font-size: 20px;
}

body .container .introduction-section .form-booking form .form-btn {
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 7px;
  font-size: 20px;
  margin: 20px 0 35px 0;
  font-weight: bold;
  background-color: #ea7471;
  color: #ffffff;
}
/*# sourceMappingURL=style.css.map */