/*-------- importing fonts --------*/
@import url(https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;800;900&display=swap);



/*variables-settup*/
$set-page: 0 150px;
$div-flex-size: 50%; 
$padding-top-bottom: 70px 0;

/*mixin-flexbox*/
@mixin centerItems() {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*-------- importing base styles --------*/
@import "partials/base";

body {
    font-family: 'Heebo', sans-serif;
    /*-------- importing header styles --------*/
    @import "partials/header";

    .container {
        
        .introduction-section {
            background-image: url("/assents/dog-e-cat-bg-removebg-preview.png");
            background-position:bottom -10px center;
            background-repeat: no-repeat;
            background-size: 850px;
            padding: $set-page; 
            background-color: #ffb8b7;
            display: flex;

            .introducing-content {
                width: $div-flex-size;
                display: flex;
                flex-direction: column;
                padding: $padding-top-bottom;

                span {
                    font-size: 25px;
                    font-weight: bold;
                    margin-bottom: 21px;
                    color: #ea7471;
                }

                h1 {
                    font-size: 80px;
                    line-height: 1;
                    font-weight: 500;
                }

                .description {
                    color: #353535;
                    font-size: 20px;
                    margin: 40px 0;
                    width: 85%;
                }

                .extra-info-box {
                    width: 50%;
                    margin-top: 20px;

                    .extra-information {
                        color: #353535;
                        font-weight: 500;
                        font-size: 20px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        
                        &::before {
                            color: #047ac9;
                            content: "\f058";
                            font-family: 'FontAwesome';
                            font-weight: 900;
                            font-size: 70px;
                            padding-right: 14px;
                        }
                    }
                }
            }

            @import "partials/form.scss";

        }
    }
}

