<footer class="footer">
    <div class="footer-content width-structure">
        <div class="logo-footer ">
            <img src="/assents/logo-petshop-removebg-preview.png" alt="Logo pet shop">
        </div>
        <div class="location">
            <a href="#">
                178 West 27th Street, Suite 527 New York NY 10012
            </a>
            <div class="opening-times">
                <h2>(85) 3099-3099</h2>
            </div>
        </div>
    </div>
    <div class="usual-links width-structure">
        <h3>Company</h3>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/sobre">About Us</a> 
            </li>
            <li>
                <a href="/services">Service</a> 
            </li>
            <li>
                <a href="#">Gallery</a>
            </li>
            <li>
                <a href="#">Contact</a> 
            </li>
        </ul>
    </div>
    <div class="width-structure">
        <h3>Services</h3>
        <ul>
            <li>
                <a href="#">Bath & fullhaircut</a>
            </li>
            <li>
                <a href="#">Bath & Grooming</a>
            </li>
            <li>
                <a href="#">Skin & itch solution</a>
            </li>
            <li>
                <a href="#">Deshedding solution</a>
            </li>
        </ul>
    </div>
    <div class="width-structure">
        <h3>Newslatter</h3>
        <p>
            Sign up to receive updates, special offers, program communications and other information.
        </p>
        <input type="text" placeholder="Insert your Email adress">
    </div>
</footer>