<footer class="footer">
    <div class="footer-content width-structure">
        <div class="logo-footer ">
            <img src="/assents/logo-petshop-removebg-preview.png" alt="Logo pet shop">
        </div>
        <div class="location ">
            <a href="#">
                178 West 27th Street, Suite 527 New York NY 10012
            </a>
        </div>
    </div>
    <div class="usual-links width-structure">
        <h3>Company</h3>
        <ul>
            <li>Home</li>
            <li>About Us</li>
            <li>Services</li>
            <li>Gallery</li>
            <li>Contacts</li>
        </ul>
    </div>
    <div class="width-structure">
        <h3>Services</h3>
        <ul>
            <li>Bath & fullhaircut</li>
            <li>Bath & Grooming</li>
            <li>Skin & itch solution</li>
            <li>Deshedding solution</li>
        </ul>
    </div>
    <div class="width-structure">
        <h3>Services</h3>
        <ul>
            <li>Bath & fullhaircut</li>
            <li>Bath & Grooming</li>
            <li>Skin & itch solution</li>
            <li>Deshedding solution</li>
        </ul>
    </div>
</footer>