<div class="wrapper">
    <div class="slide-controls">
        <input type="radio" name="slide" id="dog" checked>
        <input type="radio" name="slide" id="cat">
        <label for="dog" class="slide dog">Dog</label>
        <label for="cat" class="slide cat">Cat</label>
        <div class="slider-tab"></div>
    </div>
    <h2>Book appointment or check prices</h2>
    <p>
        Book a grooming to make your pet looks amazing. We care about your little friends.
    </p>
    <div class="form-container">
        
        <div class="form-inner">
            <!--form Dog-->
            <form action="#" class="dog">
                <input type="text" placeholder="Breed">
                <input type="text" placeholder="Age">
                <input type="text" placeholder="Grooming service">
                <input type="text" placeholder="Date">
                <button type="submit" class="form-btn">Book Now</button>
            </form>
            <!--form Cat-->
            <form action="#" class="cat">
                <input type="text" placeholder="Breed">
                <input type="text" placeholder="Age">
                <input type="text" placeholder="Grooming service">
                <input type="text" placeholder="Date">
                <button type="submit" class="form-btn">Book Now</button>
            </form>
        </div>
    </div>
</div>

