<form action="">
    <h2>Book appointment or check prices</h2>
    <p>
        Book a grooming to make your pet looks amazing. We care about your little friends.
    </p>
    <input type="text" placeholder="Breed">
    <input type="text" placeholder="Age">
    <input type="text" placeholder="Grooming service">
    <input type="text" placeholder="Date">
    <button type="submit" class="form-btn">Book Now</button>
</form>