<header class="header">
    <div class="logo">
        <img src="/assents/logo-petshop-removebg-preview.png" alt="Logo pet shop">
    </div>
    <nav class="nav-bar">
        <ul class="menu">
            <li>
                <a href="/">Home</a> 
            </li>
            <li>
                <a href="/sobre">About us</a>      
            </li>
            <li>
                <a href="/services">Services</a>
            </li>
            <li>
                <a href="#">Gallery</a>
            </li>
            <li>
                <a href="#">Contacts</a>
            </li>
        </ul>
        <div class="opening-times">
            <h2>(85) 3099-3099</h2>
            <span>Opening Hours: Mon-Sat: 8am - 18pm</span>
        </div>
    </nav>
</header>