<header>
    <div>
        Logo
    </div>
    <nav>
        <ul>
            <li>
                Home
            </li>
            <li>
                About us
            </li>
            <li>
                Services
            </li>
            <li>
                Gallery
            </li>
            <li>
                Contacts
            </li>
        </ul>
    </nav>
</header>